{% extends 'base.html' %}

{% block title %}Delete category{% endblock %}

{% block header %}
    {% include 'snippets/navbar.html' %}
{% endblock %}

{% block content %}
{% include 'snippets/flashes.html' %}


<div class="persons-container categories-container">
    <button class="simple-btn create-person-btn-one"><a href="{{ url_for('person.create_category') }}">Crear categoría</a></button>

    <div class="header-section">
      <div class="profile-section">
	<img class="account-user-picture round-picture" src="{{ image_user }}">

	<div class="user-info">
	  <p>{{ current_user.speciality }}</p>
	  <h2>{{ current_user.firstname }} {{ current_user.secondname }}</h2>
	  <p>Nro. de pacientes: ({{ persons.total }})</p>
	</div>

      </div>
      <button class="simple-btn create-person-btn-two"><a href="{{ url_for('person.create_category') }}">Crear categoría</a></button>
    </div>

    <form class="delete-person delete-category" method="POST">

      <input type="hidden" name="formulario" value="1">

      <h3>{{ category.name }}</h3>

      <div class="btn-container">
	<button class="cancel-btn delete-button" type="submit">Eliminar</button>
      </div>
    </form>

    <div class="categories-container-content">
      {% for category in categories %}
	  <div class="category-container">

	    <div class="category-content">

	      <h1 class="name-title category-name">{{ category.name }}</h1>

	      <div class="icons-container icons-container">
		<a href="{{ url_for('person.delete_category', category_id=category.id) }}"><i class="fas fa-trash"></i></a>
	      </div>

	    </div>
	  </div>
	{% endfor %}
      </div>


</div>
{% endblock %}



